@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  /* --gray-color: #f5f5f5; */
  --gray-color: #f0f0f0;
  --blue-color: #0396ff;
  --darkblue-color: #024fb4;
  --cyan-color: #27e4f0;
  --yellow-color: #feb10d;
  --orange-color: #ee4d2d;

  --text-color: #333333;
  --text-gray-color: #808088;
  --text-darkblue-color: #0c47a5;

  --color-error: #d32f2f;
  --color-warning: #df7002;
  --color-success: #2ecc71;

  --shadow-gray-color: #808088;
  --shadow-color: #c3c2c2;
  --border-gray-color: #9f9f9f;
}
html {
  font-size: 62.5%; /* 10px */
  line-height: 1.6rem;
  font-family: var(--font);
  color: var(--color-text);
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.display-block {
  display: block;
}
.display-text--center {
  text-align: center;
}
.display-self--center {
  margin: 0 auto;
}

/** Responsive  */
.container {
  width: 1230px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-1 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12);
}
.col-lg-2 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 2);
}
.col-lg-3 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 25%;
}
.col-lg-4 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 4);
}
.col-lg-5 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 5);
}
.col-lg-6 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 50%;
}
.col-lg-7 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 7);
}
.col-lg-8 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 8);
}
.col-lg-9 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 75%;
}
.col-lg-10 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100% / 12 * 10);
}
.col-lg-12 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: calc(100%);
}
/** End of Responsive */
/** Button */
.button {
  position: relative;
  border: none;
  outline: none;

  text-decoration: none !important;
  line-height: 1.6;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.6rem 1.2rem;
  background-color: transparent;
}
#btnLogin {
  background-color: var(--blue-color);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--white-color);
  width: 10rem;
  transition: opacity 0.3s ease;
}
#btnSignup {
  background-color: var(--white);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--blue-color);
  width: 10rem;
  transition: opacity 0.3s ease;
}
#btnLogin:hover,
#btnSignup:hover {
  opacity: 0.825;
}
.btnPrev,
.btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.3rem;
  -moz-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  -webkit-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
}
.btnPrev > .btn__icon,
.btnNext > .btn__icon {
  position: relative;
  z-index: 5;
  overflow: visible;
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--text-color);
  stroke-width: 3rem;
  fill: var(--text-color);
  -moz-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  -webkit-transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
}
.btnNext:hover > .btn__icon,
.btnPrev:hover > .btn__icon {
  filter: brightness(0) saturate(100%) invert(48%) sepia(67%) saturate(4582%)
    hue-rotate(186deg) brightness(104%) contrast(107%);
}
#btnEllipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  pointer-events: none;
  transform: translateY(-10%);
}
.pagination__item {
  min-width: 4rem;
  height: 3.6rem;
  line-height: 3.6rem;
  font-size: 1.6rem;
  margin-right: 0.5rem;
  border-radius: 0.4rem;
  position: relative;
  cursor: pointer;
  .button {
    color: var(--text-gray-color);
    position: absolute;
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cyan-color);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
  }
  &:hover::after {
    opacity: 0.18;
  }
  /* disabled select ellipsis */
  &#btnEllipsis {
    pointer-events: none;
    user-select: none;
  }
}
.pagination__item .button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0rem;
  border-radius: 0.4rem;
}
.pagination__item--active .button {
  background-color: var(--blue-color);
  color: var(--white-color);
}
#btnViewCartDetail {
  min-width: 16rem;
  background-color: var(--blue-color);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--white-color);
  transition: opacity 0.3s ease;
  font-weight: 500;
}
.btnDelete {
  font-size: 1.4rem;
  font-weight: 400;
  padding-right: 0rem;
  color: var(--text-gray-color);
  transition: color 0.25s ease;
  &:hover {
    color: var(--blue-color);
  }
  &:focus {
    font-weight: bold;
    color: var(--blue-color);
  }
}
#btnReturnHome,
#btnReturnCart,
#btnReturnSignupPage,
#btnReturnLoginPage,
#btnReturn,
#btnReturnSwitchInfo,
#btnAddNewInfo,
#logout__action-cancel,
#btnCancelViewDetail,
#btnCloseFeedbackForm,
#confirm-delete-account__action-cancel,
#addNewFeedback,
#confirm-delete-review__action-cancel {
  background-color: var(--white-color);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--blue-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
  &:hover,
  &:focus {
    opacity: 0.85;
  }
}
#btnReturnHome {
  width: 20rem;
  height: 4.5rem;
}
#btnToPaymentPage,
#btnSubmitPayment,
#btnSubmitVerify,
#btnChooseDefaultInfo,
#btnCreateNewInfo,
#btnSubmitInfo,
#btnUpdateInfo,
#btnSaveUserInfo,
#logout__action-confirm,
#btnCancelOrder,
#btnRebuyOrder,
#btnConfirmCompleteOrder,
#btnRequestReturnOrder,
#btnAnnouceProcess,
#btnConfirmReturnOrder,
#btnSaveFeedbackForm,
#confirm-delete-account__action-confirm,
#confirm-delete-review__action-confirm {
  height: 4.6rem;
  background-color: var(--blue-color);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
  opacity: 1;
  &:hover,
  &:focus {
    opacity: 0.85;
  }
}
#btnToPaymentPage {
  width: 100%;
}
#btnSendOTPCodeToEmail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(2rem + 0.105rem);
  user-select: none;
  transition: all 0.3s ease;
  font-size: 1.4rem;
  font-weight: 500;
  z-index: 10;
  color: var(--blue-color);
  border-left: 0.1px solid var(--blue-color);
  padding: 0rem 0rem 0rem 1rem;
}
/** End of Button */
/** Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 10;
  border-radius: 0.6rem;
  background-color: var(--white-color);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.54);
  animation: fadeInAndZoomOut 0.3s ease forwards;
}
/** End of Modal */
/** Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInAndFloatLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInAndZoomOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/** End Animation */
