.main-product-detail {
  background-color: var(--gray-color);
  padding: 1.4rem 0rem;
  position: relative;
}
.main-product-detail .main__title {
  margin: 0rem 0rem 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.main-product-detail .main__title .main__title-content {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.8rem;
  color: var(--blue-color);
  margin: 0rem;
}
.main-product-detail .main__form {
  border-radius: 0.6rem;
  margin-bottom: 1.5rem;
}
.main-product-detail .main__form .col-lg-8 {
  padding-left: 0rem;
}
.product-detail-wrap {
  height: 100%;
  background: var(--white-color);
  border-radius: 0.6rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
}
.main-product-detail .product-detail__image-wrap {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 0.6rem;
  padding: 1.6rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
}
.main-product-detail .product-detail__image-wrap .product-detail__image {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}
.product-detail__image-wrap .product-detail__image-content {
  max-width: 100%;
  position: relative;
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.6rem;
  outline: none;
}
.main-product-detail .product-detail__info-wrap {
  background-color: var(--white-color);
  height: 100%;
  border-radius: 0.6rem;
  padding: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  grid-template-rows: 4rem 2rem 3.75rem 3rem 5rem 5rem auto;
  grid-template-areas:
    "title title title"
    "author publisher x-area"
    "category page-number x-area"
    "rating rating rating"
    "price price price"
    "quantity quantity quantity"
    "action action action";
}
.product-detail__info-wrap .product-detail__name {
  grid-area: title;

  margin: 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color);
  line-height: 3rem;
  overflow-wrap: break-word;
}
.product-detail__info-wrap .product-detail__author {
  grid-area: author;
}
.product-detail__info-wrap .product-detail__publisher {
  grid-area: publisher;
}
.product-detail__info-wrap .product-detail__category {
  grid-area: category;
}
.product-detail__info-wrap .product-detail__page-number {
  grid-area: page-number;
}
.product-detail__author,
.product-detail__publisher,
.product-detail__category,
.product-detail__page-number {
  & > :first-child {
    color: var(--text-color);
    margin-right: 0.8rem;
  }
  & > :not(:first-child) {
    line-height: 2rem;
    font-weight: 600;
    color: var(--text-color);
  }
}
.product-detail__info-wrap .product-detail__rating {
  grid-area: rating;
}
.product-detail__rating .product-detail__rating--star-average {
  font-weight: 500;
  color: var(--blue-color);
}
.product-detail__rating {
  display: flex;
  align-items: center;
}
.product-detail__rating-star {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}
.product-detail__rating-star-average {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  padding-right: 0.4rem;
  color: var(--blue-color);
}
.product-detail__rating-star-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-icon,
.product-detail__rating-star-icon {
  width: 1.9rem;
  height: 1.9rem;
  stroke-width: 0.1rem;
  overflow: visible;
  & path {
    stroke: var(--blue-color);
    stroke-width: 0.14rem;
  }
}
.product-detail__info-wrap .product-detail__price {
  grid-area: price;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
  min-height: 2.4rem;
}
.product-detail__new-price {
  color: var(--blue-color);
  min-width: 14rem;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  position: relative;
  padding-right: 1.5rem;
}
.product-detail__old-price {
  color: var(--text-gray-color);
  min-width: 8.2rem;
  text-decoration: line-through;
  font-size: 1.5rem;
  margin-right: 1rem;
  position: relative;
  padding-right: 1.5rem;
}
.product-detail__discount {
  color: var(--white-color);
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  transform: translateY(-18%);
  border-radius: 0.4rem;
  line-height: 2rem;
  height: 2.8rem;
  background-color: var(--blue-color);
}
.product-detail__review-count {
  border-right: 0.12rem solid var(--border-gray-color);
  border-left: 0.12rem solid var(--border-gray-color);
  padding: 0rem 1.5rem;
}
.product-detail__quantity-sold {
  padding: 0rem 1.5rem;
}
.product-detail__review-count,
.product-detail__quantity-sold {
  display: flex;
  align-items: baseline;
}
.product-detail__review-count-number,
.product-detail__quantity-sold-number {
  font-size: 1.6rem;
  font-weight: 500;
  padding-right: 0.4rem;
  color: var(--text-color);
}
.product-detail__review-count-label,
.product-detail__quantity-sold-label {
  font-size: 1.3rem;
  align-self: flex-end;
}
.product-detail__item-quantity {
  grid-area: quantity;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.item-quantity__label {
  padding-right: 1.5rem;
}
.product-detail__item-quantity .item-quantity__wrap {
  display: flex;
  width: fit-content;
  align-items: center;
  border: 0.2rem solid var(--text-gray-color);
  border-radius: 0.4rem;
  border-collapse: collapse;
  background: var(--gray-color);
}
.item-quantity__wrap .btnDecrease {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  line-height: 1.6;
  padding: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
  margin: 0rem;
  border-right: 0.2rem solid var(--text-gray-color);
}
.item-quantity__wrap .btnIncrease {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  line-height: 1.6;
  padding: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
  margin: 0rem;
  border-left: 0.2rem solid var(--text-gray-color);
}
.item-quantity__wrap .item-quantity {
  display: block;
  width: 3.4rem;
  height: 2.6rem;
  box-sizing: border-box;
  padding: 0rem;
  text-align: center;
  border: none;
}
.item-quantity__wrap .button .icon {
  width: 1rem;
  height: 1rem;
  transform: scale(1.6);
}
.item-quantity__left {
  padding-left: 1.5rem;
  color: var(--text-gray-color);
}
.product-detail__action {
  grid-area: action;
  display: flex;
  align-items: center;
}
.product-detail__action {
  grid-area: action;
  display: flex;
  align-items: center;
}
.product-detail__action .btnAddToCart {
  width: 20rem;
  height: 4.8rem;
  padding: 0.8rem 1rem;
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.4rem;
  color: var(--blue-color);
  margin-right: 1.2rem;
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    transform: scale(1.1);
    margin-right: 0.6rem;
    filter: brightness(0) saturate(100%) invert(48%) sepia(67%) saturate(4582%)
      hue-rotate(186deg) brightness(104%) contrast(107%);
  }
  span {
    font-size: 1.6rem;
    font-weight: 600;
  }
  &:hover,
  &:focus {
    opacity: 0.85;
  }
}
.product-detail__action #btnToPaymentPage {
  width: 20rem;
  height: 4.8rem;
  padding: 0.8rem 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.4rem;
  background-color: var(--blue-color);
  color: var(--white-color);
}

/** Review */
.main__review {
  border-radius: 0.6rem;
  background-color: var(--white-color);
  padding: 1.6rem;
  margin-bottom: 1.5rem;
}
.review__title {
  padding: 0rem 0rem 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.review__title-content {
  margin: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--blue-color);
}
.review__wrap {
  display: flex;
  align-items: center;
  padding: 3rem;
  border: 0.1rem solid var(--gray-color);
  border-radius: 0.4rem;
  position: relative;
  z-index: 10;
  margin-bottom: 1rem;
}
.review__wrap::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--blue-color);
  opacity: 0.06;
  margin: -3rem;
  border-radius: 0.4rem;
  z-index: -1;
}
.review__star-average {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  position: relative;
  border-right: 0.1rem solid var(--border-gray-color);
}
.review__star-list {
  display: flex;
  align-items: center;
}
.review__briefing {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--blue-color);
}
.review__rating-score {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 0.6rem;
  line-height: 3.6rem;
}
.review__rating-maximum {
  font-size: 1.6rem;
  font-weight: 400;
}
.review__star-list {
  display: flex;
  align-items: center;
}
.review__star-list .review__rating-star-icon {
  width: 1.9rem;
  height: 1.9rem;
  stroke-width: 0.1rem;
  overflow: visible;
  & path {
    stroke: var(--blue-color);
    stroke-width: 0.14rem;
  }
}
.review__filter {
  margin-left: 1.5rem;
}
.review__filter .button {
  width: 9rem;
  border-bottom: none;
  border-radius: 0rem;
  color: var(--blue-color);
  margin-right: 1.2rem;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
}
.review__filter .button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: var(--blue-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  transition: width 0.4s ease-in-out;
}
.review__filter .button:hover::after {
  width: 80%;
}
.review__filter .button.active::after {
  width: 80%;
}
/** Empty review */
.review__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.empty-review__row {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.empty-review__content {
  padding: 3rem 2rem 3rem 0rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--text-gray-color);
  display: flex;
  align-items: center;
  text-align: center;
}
#addNewFeedback {
  border-radius: 5rem;
}
.feedback-info__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-info__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: var(--blue-color);
}
.feedback-info__star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}
#modal__feedback .star-icon {
  width: 5.6rem;
  height: 5.6rem;
  stroke-width: 0.1rem;
  overflow: visible;
  & path {
    stroke: var(--blue-color);
    stroke-width: 0.1rem;
  }
}
.star-icon.active-fill {
  fill: var(--blue-color);
}
.feedback-textarea {
  border: 0.2rem solid var(--text-gray-color);
  outline: none;
  box-shadow: none;
  min-height: 20rem;
  width: 100%;
  padding: 0.2rem 0rem;
  font-size: 1.4rem;
  resize: vertical;
  width: 100%;
  max-height: 20rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 1rem 1.2rem;
  border: 0.15rem solid var(--border-gray-color);
  border-radius: 0.4rem;
  height: 100%;
  line-height: 2rem;
  transition: all 0.25s ease;
}
.feedback-textarea:focus {
  border-color: var(--blue-color);
}
.feedback-button__wrap {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.feedback-detail__container {
  width: 80rem;
  height: 40rem;
  padding: 1.2rem 1.6rem;
  border: 0.1rem solid var(--text-gray-color);
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.order-product__list {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  overflow-y: auto;
}
.feedback-product {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.feedback-product__info {
  display: flex;
  align-items: center;
  padding: 1.6rem 1.6rem 1.6rem 0rem;
  border-bottom: 0.2rem dashed var(--gray-color);
}
.feedback-product__info {
  width: 30rem;
  height: 30rem;
  justify-content: center;
  padding: 1rem;
  border: 0.1rem solid var(--yellow-color);
  border-radius: 0.4rem;
}
.order-product__img {
  min-width: 9rem;
}
.feedback-product__img {
  width: 80%;
}
.feedback-product__image {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.order-product__info-wrap {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 10% 5% auto;
  grid-template-areas:
    "name name name"
    "quantity x unitPrice";
  row-gap: 0.8rem;
}
.feedback-product__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback-product__id,
.feedback-product__name {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  max-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* Chỉ định hướng của hộp theo chiều dọc, chữ sx theo chiều dọc */
  -webkit-box-orient: vertical;
  /* Số dòng tối đa hiển thị */
  -webkit-line-clamp: 3;
}
.order-product__name {
  grid-area: name;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  max-height: 4.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* Chỉ định hướng của hộp theo chiều dọc, chữ sx theo chiều dọc */
  -webkit-box-orient: vertical;
  /* Số dòng tối đa hiển thị */
  -webkit-line-clamp: 3;
}
.order-product__quantity {
  grid-area: quantity;
  font-size: 1.4rem;
}
.order-product__unitPrice,
.feedback-product__unitPrice {
  grid-area: unitPrice;
  font-size: 1.4rem;
}
.order-payment__info {
  padding-left: 1.6rem;
  flex: 1;
  height: 100%;
  border-left: 0.2rem solid var(--gray-color);
  display: grid;
  grid-template-areas:
    "title status"
    "id reason"
    "fullname fullname"
    "phoneNumber phoneNumber"
    "address address"
    "invoiceDate invoiceDate"
    "totalPrice totalPrice"
    "paymentMethod paymentMethod"
    "button button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.2fr repeat(7, 1fr) 1.2fr;
  column-gap: 1rem;
}
.feedback__info {
  padding-left: 1.6rem;
  flex: 1;
  height: 100%;
  border-left: 0.2rem solid var(--gray-color);
}
#btnSaveFeedbackForm,
#btnCloseFeedbackForm {
  width: 12rem;
  height: 4.2rem;
}
#btnCloseFeedbackForm {
  margin-right: 0.6rem;
}
.main__review .button__wrap{
  width: 75%;
  display: flex;
}

.main__review{
  box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.review__row{
  padding: 2rem 0rem;
  position: relative;
  height: 15rem;
}
.review__row::before{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: calc(100% - 3.2rem);
  height: 1px;
  background-color: var(--gray-color);
  margin: 1rem 0rem;
}
.review__row::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: calc(100% - 3.2rem);
  height: 1px;
  background-color: var(--gray-color);
  margin: 1rem 0rem;
}
.info__wrap {
  display: flex;
  align-items: center;
  padding-bottom: 1.2rem;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--gray-color);
}
.info__wrap .avatar {
  margin: 0px 12px 0px 0px;
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.info__wrap .avatar-icon {
  width: 4rem;
  height: 4rem;
  filter: invert(56%) sepia(5%) saturate(455%) hue-rotate(202deg)
      brightness(90%) contrast(90%);
}
.fullname {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.time {
  font-size: 13px;
  line-height: 20px;
  color: rgb(128, 128, 137);
}
.review-total__row{
  padding-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  > * {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--text-gray-color);
  }
}
.review-total__label{
  display: flex;
  align-items: center;
}
.review-total__label-image{
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}
.voting{
  display: flex;
  align-items: center;
  line-height: 2.4rem;
}
.review__list .col-lg-10{
  border-left: 0.2rem dashed var(--gray-color);
}
.voting__star-list, .voting__status{
  display: flex;
  align-items: center;
  line-height: 2.4rem;
}
.voting__star-list{
  margin-right: 1.6rem;
}
.voting__star-icon{
  width: 2rem;
  height: 2rem;
  line-height: 2.4rem;
}
.voting__status-icon{
  width: 2rem;
  height: 2rem;
  line-height: 2.4rem;
  filter: brightness(0) saturate(100%) invert(55%) sepia(12%) saturate(2347%) hue-rotate(93deg) brightness(116%) contrast(91%);
  margin-right: 0.4rem;
}
.voting__status-content{
  color: var(--color-success);
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.comment{
  max-width: 85%;
  width: 85%;
  font-size: 1.3rem;
  line-height: 1.8rem;
  word-wrap: break-word; /* Đảm bảo các từ dài sẽ được bọc */
  overflow-wrap: break-word; /* Đảm bảo các từ dài sẽ được bọc */
  white-space: normal; /* Dòng văn bản sẽ được bọc bình thường */
  overflow-y: auto;
  padding: 0.2rem 0rem;
  max-height: 9rem;
}
#btnDeleteMyReview{
  font-size: 1.4rem;
  line-height: 1.8rem;
  border: 0.2rem solid var(--yellow-color);
  color: var(--yellow-color);
  border-radius: 5rem;
  padding: 0rem 0.8rem;
  margin-left: 1.4rem;
}

/** Modal delete review */
#modal__confirm-delete-review .modal__body{
  padding: 2rem 2.4rem;
}
#modal__confirm-delete-review .modal__inner {
  font-size: 1.6rem;
}
#modal__confirm-delete-review .confirm-delete-review__container {
  display: flex;
  flex-direction: column;
}
#modal__confirm-delete-review .confirm-delete-review__head {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
#modal__confirm-delete-review .confirm-delete-review__alert-icon {
  filter: brightness(0) saturate(100%) invert(61%) sepia(79%) saturate(3155%)
    hue-rotate(356deg) brightness(100%) contrast(98%);
  fill: var(--yellow-color);
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}
#modal__confirm-delete-review .confirm-delete-review__content-wrap{
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.4rem;
}
#modal__confirm-delete-review .confirm-delete-review__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
#modal__confirm-delete-review .confirm-delete-review__content{
  font-size: 1.6rem;
  line-height: 2rem;
}
#modal__confirm-delete-review .confirm-delete-review__action-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#confirm-delete-review__action-cancel {
  margin-right: 1.6rem;
  width: 50%;
  height: 4.2rem;
}
#confirm-delete-review__action-confirm {
  width: 50%;
  height: 4.2rem;
}

#confirm-delete-review__action-cancel,
#confirm-delete-review__action-confirm {
  width: 12rem;
  height: 4.2rem;
}

.review__title, .similar-product__title {
  padding: 0rem 0rem 1.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.review__title-content, .similar-product__title-content  {
  margin: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--blue-color);
}
.similar-product {
  padding: 1rem 0rem;
  width: 100%;
  height: fit-content;
  border-radius: 0.6rem;
  background-color: var(--white-color);
  padding: 1.6rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
}
.product .row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.product .row .col-lg-fix {
  width: calc(100% * 5 /12);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.product-item {
  display: block;
  background-color: var(--white-color);
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  will-change: transform;
  min-height: 30rem;
}
.product-item:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 6px 0.5px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 1px 6px 0.5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 6px 0.5px rgba(0, 0, 0, 0.24);
}
.product-item__image {
  position: relative;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* object-fit: contain; */
  /* Vừa với phần tử chứa nhưng vẫn giữ tỷ lệ khung hình */
  margin-bottom: 0.8rem;
}
.product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  color: var(--text-color);
  overflow: hidden;
  /* Thêm '...' chỉ cho 1 dòng */
  text-overflow: ellipsis;
  white-space: wrap;
  display: block;
  display: -webkit-box;
  /* Chỉ định hướng của hộp theo chiều dọc, chữ sx theo chiều dọc */
  -webkit-box-orient: vertical;
  /* Số dòng tối đa hiển thị */
  -webkit-line-clamp: 2;
  margin-bottom: 0.8rem;
}
.product-item__price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
  min-height: 2.4rem;
  padding: 0.2rem 0rem;
}
.product-item__new-price {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 1rem;
  position: relative;
}
.product-item__old-price {
  color: var(--text-gray-color);
  text-decoration: line-through;
  font-size: 1.2rem;
  margin-right: 1rem;
  position: relative;
}
.product-item__discount {
  color: var(--white-color);
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  transform: translateY(-5%);
  border-radius: 0.4rem;
  line-height: 2rem;
  background-color: var(--blue-color);
}
.similar-product .button__wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}
#btnViewMore, #btnViewLess{
  width: 12rem;
  height: 4.2rem;
  background-color: var(--white-color);
  border: 0.2rem solid var(--blue-color);
  border-radius: 0.6rem;
  color: var(--blue-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
  &:hover,
  &:focus {
    opacity: 0.85;
  }
}
